<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./index.html">
				<span>OUDEQI</span>
				<span class="glyphicon glyphicon-grain"></span>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li role="presentation" data-flag="index"><a href="./index.html">首页 <span class="sr-only">(current)</span></a></li>
				<li role="presentation" data-flag="resume"><a href="./resume.html">求职简历</a></li>
				<li role="presentation" data-flag="contact"><a href="./contact.html">联系方式</a></li>
			</ul>
		</div>
	</div>
</nav>