@import '../../assets/styles/_variable.css';
@import '../../assets/styles/_mixins.css';
@import '../../assets/styles/_extends.css';

#index{
	ul.affixNav{
		&.affix {
			top: 30px;
		}
		li{
			border: 1px solid #DDDDDD;
			overflow: hidden;
			margin-top: 0px !important;
			&+li{
				border-top: 0 none;
			}
			&:first-child{
				border-radius: 4px 4px 0 0;
			}
			&:last-child{
				border-radius: 0 0 4px 4px;
			}
			&.active{
				border: 0 none;
			}
			a{
				border-radius: 0;
				text-transform: uppercase;
			}
		}
	}
	.content {
		.category{
			margin-top: 0px;
			padding: 5px;
			border-radius: 4px;
			text-transform: uppercase;
		}
		a{
			color: #666666;
			text-decoration: none;
			text-align: center;
			span{
				display: block;
				padding: 3px;
			}
		}
	}
}

.aspect-box{
    position: relative;
	&::before {
		content: '';
		display: block;
		width: 1px;
		margin-left: -1px;
		height: 0
	}
	.aspect-box-content{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	    overflow: hidden;
	    img{
	    	display: block;
	    	width: 100%;
	    	height: 100%;
	    	object-fit: cover;
	    }
	}
}
.aspect-box[aspect-ratio="16:10"]{
	aspect-ratio: '16:10';
}