html, body {
    height: 100%;
}

body{
	min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*font-size: 15px !important;*/
}

.clearfix{
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
        overflow: hidden;
    }
}
.mar-b-20{
	margin-bottom: 20px;
}

.mar-b-30{
	margin-bottom: 30px;
}
.font-size-30{
    font-size: 30px;
}
#layout {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -50px;
    #layout_footer {
	    height: 50px;
	}
}

#footer {
    clear: both;
    position: relative;
    height: 50px;
}